<app-toolbar>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div *ngFor="let item of itemList; let i = index">
          <div class="row item-blog">
            <div class="col-md-6">
              <div class="titulo" [innerHTML]="item.titulo"></div>
              <div class="contenido mt-3" [innerHTML]="item.descripcion"></div>
            </div>
            <div class="col-md-6">
              <img class="imagen" src="{{ item.imagen }}" />
            </div>
          </div>
        </div>
      </div>
      <br />

    <mat-paginator
      class="paginado"
      [length]="totalRegistros"
      [pageSize]="itemsPorPagina"
      [pageIndex]="page"
      [showFirstLastButtons]="false"
      [hidePageSize]="true"
      (page)="changePageIndex($event)">
    </mat-paginator>
    </div>
  </div>

</app-toolbar>
