// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test-primary: mat.define-palette(mat.$indigo-palette);
$test-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test-theme: mat.define-light-theme((
  color: (
    primary: $test-primary,
    accent: $test-accent,
    warn: $test-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test-theme);

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~ng-pick-datetime/assets/style/picker.min.css";

html
body {
  height: 100%;
}

h2.mat-dialog-title {
  margin: -24px -24px 24px -24px !important;
  background: rgba(153, 36, 39,.1);
  cursor: move;
  color: #A13191 !important;
}

h2.mat-dialog-title span.titulo {
  position: relative;
  left: 20px;
  max-width: 100%;
}

h2.mat-dialog-title div {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

/*.example-fill-remaining-space {
  flex: 1 1 auto;
}

.mat-dialog-actions {
  margin-bottom: -15px !important
}

table {
  width: 100%;
}

.mat-form-field:not(.mat-paginator-page-size-select) {
  font-size: 14px;
  width: 100%;
}

.mat-toolbar {
  background: linear-gradient(90deg, rgba(153, 36, 39, 1) 10%, rgba(153, 36, 39, 1) 34%, rgba(153, 36, 39, 1) 100%) !important;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.mat-flat-button.mat-warn
.mat-raised-button.mat-warn
.mat-fab.mat-warn
.mat-mini-fab.mat-warn {
  background-color: #992427;
}

.mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
  background-color: #992427;
}

.mat-radio-button.mat-warn.mat-radio-checked .mat-radio-outer-circle {
  border-color: #992427;
}

.mat-radio-button.mat-warn .mat-radio-inner-circle
.mat-radio-button.mat-warn .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple)
.mat-radio-button.mat-warn.mat-radio-checked .mat-radio-persistent-ripple
.mat-radio-button.mat-warn:active .mat-radio-persistent-ripple {
  background-color: #992427;
}

.mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(153, 36, 39,.54);
}

.mat-form-field-appearance-legacy.mat-focused .mat-form-field-underline
.mat-form-field-appearance-legacy.mat-focused .mat-form-field-ripple
.mat-form-field-appearance-fill.mat-focused .mat-form-field-underline
.mat-form-field-appearance-fill.mat-focused .mat-form-field-ripple {
  background-color: #A13191;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #E0E0E0;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #A13191;
}

.mat-form-field.mat-focused .mat-form-field-label
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #A13191;
}

.mat-table.list-item .mat-row:hover {
  background-color: rgba(153, 36, 39, 0.1) !important;
  cursor: pointer;
}

.toast-message ul {
  padding-left: 5px;
}

.toast-container .ngx-toastr {
  background-position: 15px 15px !important;
}

mat-sidenav-container.sidenav-container {
  height: 100%;
}

.mat-elevation-z8.table-index {
  overflow-x: auto;
}

.mat-elevation-z8.table-index table {
  min-width: 800px;
}

.mat-table-message-empty {
  color: color05HTML;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.mat-table-message-empty i {
  color: #992427;
}

.th-icon-grid i {
  color: #992427;
  margin-left: 10px;
}

a.terminos-condiciones {
  color: #992427;
}

a.terminos-condiciones:hover {
  color: #992427;
  text-decoration: underline;
  font-weight: bolder;
}

table.material-table th {
  font-weight: bold;
  line-height: 40px;
  color: rgba(0,0,0,.54);
}

table.material-table tbody tr:nth-child(2n+1) {
  background-color: #f2f2f2;
}

.cdk-overlay-pane {
  max-width: 95vw !important;
}

.mat-datepicker-popup .mat-datepicker-content .time-container table {
  margin: 0 !important;
}

.mat-datepicker-popup .mat-datepicker-content .time-container td {
  border: none;
  padding: 0;
}

.mat-datepicker-popup .mat-datepicker-content .time-container td.spacer {
  padding-top: 20px;
}

:root {
    --plyr-audio-controls-background: transparent;
    --plyr-color-main: #992427
}

td img.imagen-grid-catalog {
  height: 48px;
  width: 48px;
}

mwl-text-input-autocomplete-menu .dropdown-menu li {
  padding: 2px 10px;
}

mwl-text-input-autocomplete-menu .dropdown-menu li:hover:not(.active) {
  background-color: rgba(153, 36, 39, .1);
}

mwl-text-input-autocomplete-menu .dropdown-menu li.active {
  background-color: rgba(153, 36, 39, .6);
}

mwl-text-input-autocomplete-menu .dropdown-menu li a {
  color: #333;
  display: block;
}

mwl-text-input-autocomplete-menu .dropdown-menu li.active a {
  color: #fff;
}

mwl-text-input-autocomplete-menu .dropdown-menu li a:hover {
  text-decoration: none;
}

.separador-grupo-formulario {
  border-bottom: 1px solid #6c757d;
  padding-bottom: 10px;
  margin: 25px 0px;
  color: #6c757d;
}

.separador-grupo-formulario i {
  padding-right: 15px;
  color: #992427;
}

.timeline.timeline-3 .timeline-items {
  margin: 0;
  padding: 0;
}

.timeline.timeline-3 .timeline-items .timeline-item:last-child {
  border-left-color: transparent;
  padding-bottom: 0;
}

.timeline.timeline-3 .timeline-items .timeline-item {
  margin-left: 25px;
  border-left: 2px solid #EBEDF3;
  border-left-color: rgb(235, 237, 243);
  padding: 0 0 20px 50px;
  padding-bottom: 20px;
  position: relative;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-media {
  position: absolute;
  top: 0;
  left: -26px;
  border: 2px solid #EBEDF3;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  line-height: 0;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-content {
  border-radius: 0.85rem;
  position: relative;
  background-color: #F3F6F9;
  padding: 0.75rem 1.5rem;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-media i {
  font-size: 1.4rem;
}

.timeline.timeline-3 .timeline-items .timeline-item .timeline-content::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 10px;
  left: -25px;
  border-right: solid 10px #F3F6F9;
  border-bottom: solid 17px transparent;
  border-left: solid 17px transparent;
  border-top: solid 17px transparent;
}
*/
